.owl-carousel .owl-dots {
  display: none;
}
.owl-carousel.clients__carousel, .owl-carousel.team__carousel {
  position: relative;
}
.owl-nav {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}
.owl-prev {
  position: absolute;
  top: 20%;
  display: block !important;
  border: none;
}
.owl-next {
  position: absolute;
  top: 20%;
  right: 0;
  display: block !important;
  border: none;
}
@media screen and (min-width: 768px) {
  .owl-nav {
    top: 20%;
  }
  .owl-prev {
    left: -4%;
  }
  .owl-next {
    right: -4%;
  }
}
@media screen and (min-width: 992px) {
  .owl-nav {
    top: 30%;
  }
  .owl-prev {
    left: -3%;
  }
  .owl-next {
    right: -3%;
  }
}